#%RAML 1.0
title: emp-onboard-sapi
description: employee onboarding api
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/23634c6f-3e6c-4656-b431-242570911638/emp-sapi/v1 # baseUri: http://localhost:8082/emp-sapi/v1
/add-employee:
  post:
    body:
      application/json:
        example:
          {
            "empid":1,
            "empname":munna,
            "empstatus":"A"
          }
    responses:
      200:
        body:
          application/json:
            example:
              {
                "status":200,
                "message":"Success"
              }
      500:
        body:
          application/json:
            example:
              {
                "status":500,
                "message":"Internal Server Error"
              }
/update-employee:
  description: to update employee status 
  post:
    body:
      application/xml:
        example:
          <?xml version="1.0" encoding="UTF-8"?>
          <employee>
              <empid>1</empid>
              <empstatus>I</empstatus>
          </employee>
    responses:
      200:
        body:
          application/xml:
            example:
              <?xml version="1.0" encoding="UTF-8"?>
              <response>
                <status>200</status>
                <message>success</message>
              </response>
      500:
        body:
          application/xml:
            example:
              <?xml version="1.0" encoding="UTF-8"?>
              <response>
                  <status>500</status>
                  <message>Internal server error</message>
              </response>
/fetch-employee:
  get:
    queryParameters:
      empid:
        displayName: empid
        required: true
        type: number
        example: 1
      status:
        displayName: status
        required: false
        type: string
        example: "A"
    responses:
      200:
        body:
          application/json:
            example:
              {
                "empid":1,
                "empname":munna,
                "empstatus":"A"
              }
      404:
        body:
          application/json:
            example:
              {
                "status":404,
                "message":"No Record found"
              }
      500:
        body:
          application/json:
            example:
              {
                "status":500,
                "message":"Internal Server Error"
              }
/delete-employee/(empid):
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
                "empid":1,
                "empname":munna,
                "empstatus":"A"
              }
      404:
        body:
          application/json:
            example:
              {
                "status":404,
                "message":"No Record found"
              }
      500:
        body:
          application/json:
            example:
              {
                "status":500,
                "message":"Internal Server Error"
              }
        
      
              
              
            
          

          
              
            
